{% extends 'base.html' %}

{% block content %}
{% load static %}
    <!-- Page Content-->
    <div class="container-fluid p-0">

        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <span class="align-right">
                    <a  href="{% static 'assets/pdf/Shahrestani-Shayan-CV1.pdf' %}"><button>Download my CV as PDF</button></a>
                    </span>
                <p></p>
                <h2 class="mb-5">Areas of Interest</h2>
                <p class="mb-0">• Building Energy and Performance analysis</p>
                <p class="mb-0">• Thermal Comfort Analysis</p>
                <p class="mb-0">• Machine Learning and its applications in Built Environment</p>
                <p class="mb-5">• Circularity and Digital Twins in Built Environment</p>
                <h2 class="mb-5">Personal Interest</h2>
                <p class="mb-0">• Hiking and camping</p>
                <p class="mb-0">• Photography</p>
                <p class="mb-0">• Playing chess (Wanna play? <a href="https://play.chess.com/bPq4H" target="_blank">Challeng me here!</a>)</p>
                <p class="mb-0">• Reading and Programming</p>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Shahid Beheshti University</h3>
                        <div class="subheading mb-1">Masters of Science</div>
                        <div class="subheading mb-3">Architecture and Energy (Building Science)</div>
                        <p>&emsp;Major Area: Outdoor Thermal Comfort Analysis</p>
                        <p>&emsp;Thesis title: Development of a vernacular software framework of built environment
                            design: Investigating effects of water bodies and vegetation on outdoor thermal comfort</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">September 2019 - September 2021</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Islamic Azad University- Tehran South Branch</h3>
                        <div class="subheading mb-1">Bachelor of Science</div>
                        <div class="subheading mb-3">Architecture Engineering</div>
                        <p>&emsp;Thesis title: Design of music hall complex</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">September 2014 - September 2019</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Allameh Tabatabaee High School</h3>
                        <div class="subheading mb-3">High School Diploma in Mathematics and Physics</div>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">September 2011 - May 2014</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Architectural Skills</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Building Energy Modeling, Simulation and Optimization
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Experienced in thermal comfort and IEQ research
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Assessment of Thermal and Visual Comfort in Buildings
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Computational Fluid Dynamics
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Building HVAC Design
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Daylight and Electric Lighting Design
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Architecture and Urban Design (Complete Building Design from Concept to Detailed Plans)
                    </li>
                </ul>
                <div class="subheading mb-3">Programming Languages</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Python Programming specially for Data Science and Machine Learning with general knowledge in other areas such as web development using Django (This site is the example for it😊)
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Familiarity with C and C++ Programming Languages, Object-Oriented Programming with Java, and Octave language for Machine Learning
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Softwares-->
        <section class="resume-section" id="softwares">
            <div class="resume-section-content">
                <h2 class="mb-5">Softwares</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                    <div class="flex-grow-1">
                        <div class="subheading mb-1">•	Rhino and Grasshopper including Climate Studio, Diva, Honey Bee, Lady Bug, Butterfly, Wallacei</div>
                        <p>For 3D modeling and presentation, Energy modeling, Thermal and Visual Comfort Analysis, and optimization analysis</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                    <div class="flex-grow-1">
                        <div class="subheading mb-1">•	Design Builder</div>
                        <p>Energy Modeling and optimization, HVAC design, Parametric analysis, CFD simulation</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                    <div class="flex-grow-1">
                        <div class="subheading mb-1">•	ENVI-met</div>
                        <p>Urban environment and outdoor thermal comfort assessment</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                    <div class="flex-grow-1">
                        <div class="subheading mb-1">•	Ansys Fluent</div>
                        <p>CFD simulation of Air flow in urban context or enclosed space</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                    <div class="flex-grow-1">
                        <div class="subheading mb-1">•	Dialux</div>
                        <p>Electric Lighting Design</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                    <div class="flex-grow-1">
                        <div class="subheading mb-1">•	Autocad</div>
                        <p></p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                    <div class="flex-grow-1">
                        <div class="subheading mb-1">•	Photoshop</div>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- research-->
        <section class="resume-section" id="research">
            <div class="resume-section-content">
                <h2 class="mb-5">Research Projects</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">An investigation around possible effects of different building facades on UHI through field measurements and simulation</h3>
                        <div class="subheading mb-3">research paper currently being written</div>
                        <p>First Author of the research paper</p>
                        <p>Supervisor: Dr. Zahra Sadat Zomorodian</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2022</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Assessing thermal effect of building integrated photovoltaic on an adjacent wall using CFD simulation,</h3>
                        <div class="subheading mb-3">Team member of the project</div>
                        <p>Supervisor: Dr. Shahram Delfani</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2020</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Investigation of the role of climate in formation of rural houses in Zavare, Isfahan, Iran</h3>
                        <div class="subheading mb-3">Team member of the project</div>
                        <p>Supervisor: Dr.Mansoureh Tahbaz</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Investigation of building morphology effect on thermal comfort in Shahid Beheshti University campus in Tehran, Iran using field study</h3>
                        <div class="subheading mb-3">Team member of the project</div>
                        <p>Supervisor: Dr.Mansoureh Tahbaz</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- publication -->
        <section class="resume-section" id="publication">
            <div class="resume-section-content">
                <h2 class="mb-5">Publication</h2>
                {% for pub in pubs.all %}
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{ pub.title }}</h3>
                        <div class="subheading mb-3">{{ pub.journal }}</div>
                        <p>{{ pub.authers }}</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{ pub.year }}</span></div>
                </div>
                {% endfor %}
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                {% for job in jobs.all %}
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{ job.title }}</h3>
                        <div class="subheading mb-3">{{ job.employer }}</div>
                        <p>{{ job.description }}</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{ job.startyear }} - {{ job.endyear }}</span></div>
                </div>
                {% endfor %}
            </div>
        </section>
        <hr class="m-0" />
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
{% endblock %}