{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>

  <style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 40%;
    border-radius: 5px;
    margin-right: 10px;
    }

    .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    }

    img {
    border-radius: 5px 5px 0 0;
    }

    .container {
    padding: 16px 16px;
    }
  </style>

</head>

  <!-- Page Content-->
  <div class="container-fluid p-0">
      <!-- About-->
      <section class="resume-section" id="about">
          <div class="resume-section-content">
              <h1 class="mb-0">
                  My
                  <span class="text-primary">Portfolio</span>
              </h1>
              <div class="subheading mb-3">Architecture · Building Energy and Comfort Analysis · Web development · Photgraphy</div>
              <p class="lead mb-3">A snippet of my work as an architect and building performance analysit alongside my web-dev work 
                  (which this site is the prime example of) and photographs.</p>

                <div class="row">
                    <div class="card col mb-3" >
                        <a href="{% url 'arch_portfolio' %}">
                            <img src="{% static 'assets/img/architecture-cover.jpg' %}" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>Arhitectural Portfolio</b></h4>  
                            </div>
                        </a>
                    </div>

                    <div class="card col mb-3">
                        <a href="{% url 'energy_portfolio' %}">
                            <img src="{% static 'assets/img/energy-cover.jpg' %}" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>Building Analysis portfolio</b></h4> 
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="card col mb-3">
                        <a href="{% url 'web_portfolio' %}">
                            <img src="{% static 'assets/img/web-cover.jpg' %}" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>Web development portfolio</b></h4> 
                            </div>
                        </a>
                    </div>

                    <div class="card col mb-3">
                        <a href="{% url 'photo_portfolio' %}">
                            <img src="{% static 'assets/img/photo-cover.jpg' %}" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>Photography portfolio</b></h4> 
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
      <hr class="m-0" />

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="{% static 'js/scripts.js' %}"></script>

  {% endblock %}